<h1>Vendor Order Details: </h1>

<h2>@Model["order"].Title</h2>
<ul>
  <li>Description: @Model["order"].Description</li>
  <li>Amount Requested: @Model["order"].Amount</li>
  <li>Price Per: @Model["order"].Price</li>
  <li>Date Needed: @Model["order"].Date</li>
  <li>Cost of Order: $@Model["order"]</li>
</ul>
<h3>Vendor: @Model["vendor"].Name</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View All Vendors</a>